<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patientcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.patientcard.views.base.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/medical_history"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medical_history"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.patientcard.views.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.patientcard.views.qrreader.QRReaderActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.access.AccessActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.recommendations.RecommendationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.demographic.DemographicActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.feverchart.FeverChartActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name="com.patientcard.views.shortfever.ShortFeverActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.observations.ObservationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.addrecommendation.AddRecommendationActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="com.patientcard.views.addobservation.AddObservationActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorPortrait"/>
    </application>

</manifest>